/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

h1, h1, h3 {
    color: #333;
}

p {
    color: #bfc0c2;
}

/* NavBar */
.navbar-container {
    width: 100%;
    height: 80%;
    background-color: #232a31;
    padding: 0 2rem;
}

.logo {
    width: 50px;
    margin-top: 10px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;

}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover {
    color: #ccc;
}

.default-btn {
    padding: 10px 15px;
    background-color: #2cc76a;
    border-radius: 5px;
    margin-right: 15px;
}

.navbar-items .default-btn:hover {
    background-color: #22bb6f;
    color: #ccc;
}

/* main Banner */
.main-banner {
    background-image: url("../front-end/img/img-cidade.avif");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
    font-size: 50px;
}

.main-banner p {
    font-size: 20px;
}

/* services */
.services-container {
    padding: 5rem 0;
    margin-top: 20px;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}
